.balao {
	padding: 10px;
	background: #E8EAF6;
	width: 70%;
	color: #303030;
	height: auto;
	border-radius: 10px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.balaoEnvio {
	padding: 10px;
	background: #9FA8DA;
	color: #202020;
	width: 70%;
	height: auto;
	border-radius: 10px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}