.balao {
	padding: 10px;
	background: #E8EAF6;
	width: 70%;
	color: #303030;
	height: auto;
	border-radius: 10px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.balaoEnvio {
	padding: 10px;
	background: #9FA8DA;
	color: #202020;
	width: 70%;
	height: auto;
	border-radius: 10px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.balao-notificacao{
	padding: 10px;
	background: #ffffff;
	color: #202020;
	width: 50%;
	height: auto;
	border-radius: 10px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: smaller;
}

.balao-notificacao > p {
	margin: 0;
}

.bt-anexo {
	width: 15px;
	height: 15px;
	margin-left: 5px;
	text-align: right;
}

.circle {
	background-color: #aaa;
	border-radius: 50%;
	width: 150px;
	height: 150px;
	overflow: hidden;
	position: relative;
	left: 20px;
}

.circle img {
	position: absolute;
	bottom: 0;
	width: 100%;
}